<div class="jumbotron">
  <div class="row">
    <div class="col-xs-6">
      <h1>Dirty Restrooms: <em>Meet Your Match</em></h1>
      <p>
        Wipe.ly is the new, safe, efficient, clean, and affordable way to find
        brand new restroom supplies delivered to you anytime, anywhere!
      </p>
      <%= button_to "Learn More!", about_url, method: :get, class: "btn btn-primary" %>
    </div>
    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-2">
          <span style="font-size:4em" class="glyphicon glyphicon-phone"></span>
        </div>
        <div class="col-xs-10" style="font-size:1.5em">
          Order supplies at any time, on any device.
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <span style="font-size:4em" class="glyphicon glyphicon-envelope"></span>
        </div>
        <div class="col-xs-10" style="font-size:1.5em">
          Delivered right to your restroom of choice, free of charge!
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <span style="font-size:4em" class="glyphicon glyphicon-thumbs-up"></span>
        </div>
        <div class="col-xs-10" style="font-size:1.5em">
          If your restroom visitors are not 100% pleased, we will refund all
          your supplies instantly!
        </div>
      </div>
      <div class="row">
        <div class="col-xs-2">
          <span style="font-size:4em" class="glyphicon glyphicon-leaf"></span>
        </div>
        <div class="col-xs-10" style="font-size:1.5em">
          We're green! All supplies are made from recycled materials!
        </div>
      </div>
    </div>
  </div>
</div>
