<div class="row">
  <div class="col-xs-5 col-xs-offset-1">
    <div class="page-header">
      <h2>Contact Us</h2>
    </div>

    <form>
      <div class="form-group">
        <label for="contact_name">Full Name</label>
        <input type="text" class="form-control" id="contact_name">
      </div>
      <div class="form-group">
        <label for="contact_email">Email Address</label>
        <input type="email" class="form-control" id="contact_email">
      </div>
      <div class="form-group">
        <label for="contact_message">Message</label>
        <textarea id="contact_message" class="form-control" rows="10"></textarea>
      </div>
      <input type="button" class="btn btn-primary" value="Send Message">
    </form>
  </div>
  <div class="col-xs-5">
    <div class="page-header">
      <h2>Staff Contact Information</h2>
    </div>
    <table class="table table-striped">
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Email Address</th>
      </tr>
      <tr>
        <td>Evan Sanchez</td>
        <td>Customer Support</td>
        <td>evan@wipe.ly</td>
      </tr>
      <tr>
        <td>Eddie Paulet</td>
        <td>Web Application Support</td>
        <td>eddie@wipe.ly</td>
      </tr>
      <tr>
        <td>Michael Stein</td>
        <td>Marketing</td>
        <td>michael@wipe.ly</td>
      </tr>
      <tr>
        <td>Frankie Baltazar</td>
        <td>Product Engineering</td>
        <td>frankie@wipe.ly</td>
    </table>
  </div>
</div>
